<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<!--        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>-->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<!--        <link rel="stylesheet" href="../static/myStyle.css">-->
        <link rel="stylesheet" href="../static/myStyle.css">
        <title>Quiz</title>
    </head>

    <body>
<div class="container">
    <main dir="rtl" style="text-align: right;">
        <div class="slide-indicator">
            <div id="ind-cont">
                <div class="circle" id="c1"></div>
                <div class="circle" id="c2"></div>
                <div class="circle" id="c3"></div>
                <div class="circle" id="c4"></div>
                <div class="circle" id="c5"></div>
                <div class="circle" id="c6"></div>
                <div class="circle" id="c7"></div>
                <div class="circle" id="c8"></div>
            </div>
        </div>
        <form>
        <div id="quiz">
            <div class="row ">
                <div class="col-sm-6 "  id="q1">
                    <div class="q-text"></div>
                    <div class="q-options" dir="ltr"></div>
                </div>
                <div class="col-sm-6 " id="q2">
                    <div class="q-text"></div>
                    <div class="q-options" dir="ltr"></div>
                </div>
                <div class="col-sm-6" id="q3">
                    <div class="q-text"></div>
                    <div class="q-options" dir="ltr"></div>
                </div>
                <div class="col-sm-6" id="q4">
                    <div class="q-text"></div>
                    <div class="q-options" dir="ltr"></div>
                </div>
                <div class="col-sm-6" id="q5">
                    <div class="q-text"></div>
                    <div class="q-options" dir="ltr"></div>
                </div>
                <div class="col-sm-6" id="q6">
                    <div class="q-text"></div>
                    <div class="q-options" dir="ltr"></div>
                </div>
                <div class="col-sm-6" id="q7">
                    <div class="q-text"></div>
                    <div class="q-options" dir="ltr"></div>
                </div>
                <div class="col-sm-6" id="q8">
                    <div class="q-text"></div>
                    <div class="q-options" dir="ltr"></div>
                </div>
                <div class="col-sm-6" id="q9">
                    <div class="q-text"></div>
                    <div class="q-options" dir="ltr"></div>
                </div>
                <div class="col-sm-6" id="q10">
                    <div class="q-text"></div>
                    <div class="q-options" dir="ltr"></div>
                </div>
            </div>
        </div>
        <div style="text-align: center;">
            <button type="submit" id="nextQ-btn">
                صفحه بعد
            </button>
        </div>
        </form>
        <div style="text-align: center;">
            <button type="button" id="finish-btn">
                مشاهده نتایج
            </button>
        </div>
    </main>
</div>


    <script>
        var user_id = {{ dic.id }}
    </script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="../static/app.js"></script>

    </body>
</html>
