body,
	html {
	margin: 0 ;
	padding: 3rem ;
	height: 100%;
	background: #222222;
	font-family: "Lato", sans-serif;
	}


	table {
		width:100%;
		text-align: center;
		height: 80%;
		/* margin: 4rem; */
  	}
	table, th, td {
	border: 1px solid black;
	border-collapse: collapse;
	}
	h2{
	direction: rtl;
	color: #0dff92;
	}
th, td {
padding: 15px;
text-align: center;
font-weight: bolder;
font-size: 2rem;
}
table#t01 tr:nth-child(even) {
background-color: #eee;
}
table#t01 tr:nth-child(odd) {
background-color: #fff;
}
table#t01 th {
background-color: black;
color: white;
}



.finish {
  width: 50%;
  margin: 0 auto;
  margin-top: 5rem;
  display: flex;
  justify-content: space-around;
}
.finish button {
  display: block;
  padding: 0.5rem 1.5rem;
  background-color: #0dff92;
  border: 2px solid #0dff92;
  font-size: 1.2rem;
  border-radius: 10pc;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  width: 65%;
  font-size: 2rem;
  font-weight: bold;
}
.finish button:hover {
  background-color: transparent;
  color: white;
}

.finish button:focus {
  outline: none;
}