

body,
html {
  margin: 0 ;
  padding: 0 ;
  box-sizing: border-box ;
  background: #222222;
  font-family: "Lato", sans-serif;
}



.progress_bar p{
  color: #0dff92;
  font-weight: bold;
  font-size: 1.75em;
  margin-top: 5rem;
  margin-right: 10rem;
  direction: rtl;
}



.container {
  display: block;
  position: relative;
  margin: auto;
  /* margin-top: 3rem; */
  height: auto;
  font-size: 2rem;
  /* width: 500px; */
  /* padding: 10rem; */
}

h2 {
  display: block;
  color: #aaaaaa;
  text-align: right;
  direction: rtl;
  margin-right: 1rem;
}

.container ul {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: auto;
}

ul li {
  color: #aaaaaa;
  display: block;
  position: relative;
  float: left;
  width: 100%;
  /* height: 20vh; */
  border-bottom: 4px solid #333;
}

ul li input[type="radio"] {
  position: absolute;
  visibility: hidden;
}

ul li label {
  display: block;
  position: relative;
  font-weight: 300;
  font-size: 1.35em;
  padding: 25px 100px 25px 80px;
  margin: 10px auto;
  height: 30px;
  z-index: 9;
  cursor: pointer;
  -webkit-transition: all 0.25s linear;
  text-align: right;
}

ul li:hover label {
  color: #ffffff;
}

ul li .check {
  display: block;
  position: absolute;
  border: 5px solid #aaaaaa;
  border-radius: 100%;
  height: 25px;
  width: 25px;
  top: 30px;
  right: 20px;
  z-index: 5;
  transition: border 0.25s linear;
  -webkit-transition: border 0.25s linear;
}

ul li:hover .check {
  border: 5px solid #ffffff;
}

ul li .check::before {
  display: block;
  position: absolute;
  content: "";
  border-radius: 100%;
  height: 15px;
  width: 15px;
  top: 0px;
  left: 0px;
  margin : auto;
  transition: background 0.25s linear;
  -webkit-transition: background 0.25s linear;
}

input[type="radio"]:checked ~ .check {
  border: 5px solid #0dff92;
}

input[type="radio"]:checked ~ .check::before {
  background: #0dff92;
}

input[type="radio"]:checked ~ label {
  color: #0dff92;
}
/*----------------------My Styles----------------------*/
.myContainer {
  width: 50%;
  margin: 0 auto;
  margin-top: 8rem;
  
  display: flex;
  justify-content: space-around;
}

.myContainer button {
  padding: 0.5rem 1.5rem;
  background-color: #0dff92;
  border: 2px solid #0dff92;
  font-size: 1.2rem;
  border-radius: 10pc;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  width: 65%;
  font-size: 2rem;
  font-weight: bold;
}
.myContainer button:hover {
  background-color: transparent;
  color: white;
}

.myContainer button:focus {
  outline: none;
}




.finish {
  width: 50%;
  margin: 0 auto;
  margin-top: 1rem;
  display: flex;
  justify-content: space-around;
}
.finish button {
  display: none;
  padding: 0.5rem 1.5rem;
  background-color: #0dff92;
  border: 2px solid #0dff92;
  font-size: 1.2rem;
  border-radius: 10pc;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  width: 65%;
  font-size: 2rem;
  font-weight: bold;
}
.finish button:hover {
  background-color: transparent;
  color: white;
}

.finish button:focus {
  outline: none;
}




.Notification {
  display: none;
  color: #7b2931;
  background: #f8d7da;
  text-align: center;
  padding: 1rem;
  border-radius: 10px;
}
