@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: normal;
    src:url("fonts/ttf/IRANSansWeb.ttf") format('truetype');
}
body{
    font-family: IRANSans, sans-serif;
    background-color: rgba(229, 137, 250, 0.57);
}
#student-information{
    border: 1px solid gray;
    border-radius: 15px;
    padding: 10px 20px 10px 10px;
    margin: 0 2px 20px 2px;
    background-color: white;
}
#schoolChild{
    background-image: url("schoolChild.png");
    background-repeat: no-repeat;
    background-size: contain;
    height: 100px;
}
.info-text-props{
    display: inline-block;
    width: 120px;
}
.std-info-row{
    line-height: 1.8rem;
}
#result-table-row{
    border: 1px solid gray;
    border-radius: 15px;
    margin: 0 2px 20px 2px;
    padding-bottom: 20px;
    background-color: white;
}
#result-table{
    display: block;
    margin: auto;
    overflow-x: auto;
    padding: 0 10px;
}
table{
    width: 95%;
    margin: auto;
    text-align: center;
}
td{
    width: 11.25%
}
th,td{
    border: 1px solid gray;
    font-size: 0.9em;
}
.res-td{
    padding: 10px 0 10px 0;
}
.res-th{
    padding: 10px 0 10px 0;
}
#result-diagram-row{
    border: 1px solid gray;
    border-radius: 15px;
    margin: 0 2px 20px 2px;
    padding: 20px 20px 20px 20px;
    background-color: white;
}
#result-diagram{
    display: block;
    position: relative;
    margin: auto;
}
@media only screen and (max-width: 575px){
    #result-diagram{
        width: 90vw;
        height: 300px;
    }
    #schoolChild{
        background-position: center;
    }
    th{
        font-size: 0.8em;
    }
    table{
        display: table-cell;
        min-width: 180vw;
    }
}
#myChart{
    border:1px solid lightgray;
    border-radius: 15px;
    padding: 10px;
    width: 50vw;
    height: 500px;
}
#consultant-opinion-row{
    border: 1px solid gray;
    border-radius: 15px;
    padding: 20px;
    margin: 0 2px 20px 2px;
    background-color: white;
}
#print-btn{
    width: 150px;
    background-color: aqua;
    border: 1px solid aqua;
    border-radius: 20px;
    padding: 5px 0 5px 0;
    margin: 10px;
}
#print-btn:focus{
    background-color: #01dcdc;
    outline: none;
}
#print-btn:hover {
    border: 1px solid blue;
}
#home-btn{
    background-color: aqua;
    border: 1px solid aqua;
    border-radius: 20px;
    padding: 5px;
    float: left;
    margin: 10px;
}
#home-btn:focus{
    background-color: #01dcdc;
    outline: none;
}
#home-btn:hover{
    border: 1px solid blue;
}
#children{
    display: block;
    height: 250px;
    background-image: url("children2.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
}